<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinsane.buryit.mapper.TokenMapper">

    <resultMap id="ResultMap" type="com.xinsane.buryit.pojo.Token">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result column="token" jdbcType="CHAR" property="token" />
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <insert id="insert" parameterType="Token" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO token_openid (token, openid, session_key, data)
            VALUE (#{token}, #{openid}, #{sessionKey}, '{}')
    </insert>

</mapper>